.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  margin-top: 12px;
  padding: 0 6px;
  border: 1px solid var(--color-base-900);
}

.tag:not(:last-child) {
  margin-right: 12px;
}
