.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.badge {
  margin-top: 12px;
  border: 1px solid var(--color-base-900);
}

.badge:not(:last-child) {
  margin-right: 12px;
}

.badgeLink {
  display: flex;
  color: var(--color-base-900);
  text-decoration: none;
}

.badgeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--color-base-0);
  background-color: var(--color-base-900);
}

.badgeName {
  padding: 0 6px;
}
