# npm logs
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test
.env.local

# next.js build output
.next

# Vercel directories
.vercel
