:root {
  --font-base: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif, 'Segoe UI Emoji';
  --color-base-0: #ffffff;
  --color-base-50: #eceff1;
  --color-base-100: #cfd8dc;
  --color-base-200: #b0bec5;
  --color-base-300: #90a4ae;
  --color-base-400: #78909c;
  --color-base-500: #607d8b;
  --color-base-600: #546e7a;
  --color-base-700: #455a64;
  --color-base-800: #37474f;
  --color-base-900: #263238;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-base-900);
  font-family: var(--font-base);
  line-height: 1.5;
  word-break: break-word;
  background-color: var(--color-base-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
