*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif, 'Segoe UI Emoji';
  background-color: #212121;
  color: #fafafa;
}

::selection {
  background-color: #607d8b;
}

.container {
  max-width: 1024px;
  width: 100%;
  padding: 48px 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-family: 'Roboto Mono', monospace;
}

.motto {
  font-size: 70px;
  font-weight: 700;
}

.profile {
  font-size: 18px;
  line-height: 1.75;
  font-weight: 500;
}

.contact {
  display: flex;
  gap: 72px;
  align-items: center;
}

.avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.social {
  display: flex;
  gap: 24px;
  align-items: center;
}

.link {
  line-height: 0;
  color: #fafafa;
}
