@font-face {
  font-weight: 100;
  font-family: 'Original Yu Gothic';
  src: local('Yu Gothic Medium');
}

@font-face {
  font-weight: 200;
  font-family: 'Original Yu Gothic';
  src: local('Yu Gothic Medium');
}

@font-face {
  font-weight: 300;
  font-family: 'Original Yu Gothic';
  src: local('Yu Gothic Medium');
}

@font-face {
  font-weight: 400;
  font-family: 'Original Yu Gothic';
  src: local('Yu Gothic Medium');
}

@font-face {
  font-weight: bold;
  font-family: 'Original Yu Gothic';
  src: local('Yu Gothic Bold');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 168px 24px;
  color: #263238;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Hiragino Sans', 'Noto Sans CJK JP',
    'Original Yu Gothic', 'Yu Gothic', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Sans Emoji';
  line-height: 1;
  background-image: radial-gradient(#eceff1 1.5px, transparent 1.5px);
  background-size: calc(10 * 1.5px) calc(10 * 1.5px);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

li {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

.motto {
  margin-bottom: 48px;
  font-weight: 800;
  font-size: 64px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
}

.totem {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 48px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.totem > *:not(:last-child) {
  margin-right: 4px;
}

.paragraph {
  margin-bottom: 16px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

.list-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.list-row > li {
  margin-bottom: 8px;
}

.list-row > :not(:last-child) {
  margin-right: 8px;
}

.list-row__item {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 8px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid currentColor;
}

.list-row__badge {
  display: flex;
  align-items: center;
  height: 28px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid currentColor;
}

.list-row__badge--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 100%;
}

.list-column {
  margin-bottom: 48px;
  padding-left: 20px;
}

.list-column__item {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  list-style-type: disc;
}

.anchor {
  padding-right: 8px;
  color: currentColor;
  text-decoration: none;
}

.title {
  font-weight: 800;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.25;
}

.date {
  margin-top: 12px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.content {
  max-width: 720px;
  font-size: 18px;
  line-height: 1.5;
}

.post-index__heading {
  margin-bottom: 16px;
  color: currentColor;
  font-weight: 800;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.post-index__link {
  color: currentColor;
  font-weight: 800;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.post-index__date {
  margin-top: 4px;
  margin-bottom: 24px;
  color: currentColor;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
