body {
  padding: 168px 24px;
  color: #263238;
  background-image: radial-gradient(#eceff1 1.5px, transparent 1.5px);
  background-size: calc(10 * 1.5px) calc(10 * 1.5px);
}

.paragraph {
  margin-bottom: 16px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

.list-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.list-row > li {
  margin-bottom: 8px;
}

.list-row > :not(:last-child) {
  margin-right: 8px;
}

.list-row__item {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 8px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid currentColor;
}

.list-row__badge {
  display: flex;
  align-items: center;
  height: 28px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid currentColor;
}

.list-row__badge--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 100%;
}

.list-column {
  margin-bottom: 48px;
  padding-left: 20px;
}

.list-column__item {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  list-style-type: disc;
}

.anchor {
  padding-right: 8px;
  color: currentColor;
  text-decoration: none;
}
