:root {
  --color-primary: #2e3440;
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #eceff4;
  --pretty-font: 'Caveat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #eceff4;
    --bg-color-primary: #212121;
    --bg-color-secondary: #323232;
  }
}

body {
  padding: 168px 24px;
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--bg-color-primary);
  background-image: radial-gradient(var(--bg-color-secondary) 1.5px, transparent 1.5px);
  background-size: calc(10 * 1.5px) calc(10 * 1.5px);
  max-width: 720px;
  margin: 0 auto;
}

.error-code {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 96px;
}

.motto {
  font-family: var(--pretty-font);
  font-size: 150px;
  font-weight: 700;
  line-height: 0.9;
  margin: 0 -16px;
}

@media (min-width: 576px) {
  .motto {
    font-size: 170px;
  }
}

.totem {
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.totem__left {
  width: 4px;
  height: 22px;
  margin-right: 8px;
  border-left: 1.5px solid var(--color-primary);
  border-top: 1.5px solid var(--color-primary);
  border-bottom: 1.5px solid var(--color-primary);
}

.totem__right {
  width: 4px;
  height: 22px;
  margin-left: 8px;
  border-right: 1.5px solid var(--color-primary);
  border-top: 1.5px solid var(--color-primary);
  border-bottom: 1.5px solid var(--color-primary);
}

.section {
  margin-top: 64px;
}

.anchor--block {
  color: var(--color-primary);
  text-decoration: none;
  display: block;
  width: fit-content;
}

.anchor--inline {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 900;
}

.anchor--inline:hover {
  text-decoration: underline;
}

.list-column {
  margin: 18px 0 0 18px;
}

.list-column__item {
  list-style: disc;
}

.list-row {
  margin: 18px 0 0 0;
  display: flex;
  flex-flow: row wrap;
  gap: 14px;
}

.list-row__item {
  font-size: 16px;
  border: 2px solid var(--color-primary);
  padding: 0 10px;
  height: 32px;
  display: flex;
  align-items: center;
}

.list-row-badge__item {
  font-size: 16px;
  border: 2px solid var(--color-primary);
  height: 32px;
  display: flex;
  align-items: center;
}

.list-row-badge__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: var(--color-primary);
  color: var(--bg-color-primary);
}

.list-row-badge__name {
  padding: 0 10px;
}

.posts-heading {
  font-size: 72px;
}

.posts-description {
  font-size: 12px;
  margin-top: -16px;
}

.posts-list {
  margin-top: 64px;
}

.post-item {
  margin-top: 48px;
}

.post-item__title {
  font-size: 36px;
}

.post-item__date {
  font-size: 12px;
  font-weight: 500;
}

.post__title {
  font-size: 48px;
}

.post__eyecatch {
  margin-top: 64px;
  border-radius: 4px;
}

.post__body {
  margin-top: 64px;
}

.post__body img {
  border-radius: 4px;
}
