@font-face {
  font-family: 'Euclid Square';
  src: url('~/fonts/EuclidSquare-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('~/fonts/EuclidSquare-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

:root {
  --color-primary: #2e3440;
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #eceff4;
  --pretty-font: 'Euclid Square', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #eceff4;
    --bg-color-primary: #212121;
    --bg-color-secondary: #323232;
  }
}

body {
  padding: 168px 24px;
  color: var(--color-primary);
  background-color: var(--bg-color-primary);
  background-image: radial-gradient(var(--bg-color-secondary) 1.5px, transparent 1.5px);
  background-size: calc(10 * 1.5px) calc(10 * 1.5px);
  min-height: 100vh;
  max-width: 720px;
  margin: 0 auto;
}

.post-page__container {
  max-width: 1024px;
}

.post-page__title {
  font-family: var(--pretty-font);
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
}

.post-page__date {
  font-size: 12px;
  font-weight: 500;
  margin-top: 20px;
}

.post-page__body {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 24px;
}

.post-page__body h1 {
  font-size: 32px;
  margin-top: 24px;
}

.error-page__status-code {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-family: var(--pretty-font);
  font-size: 96px;
}
