:root {
	--color-background: #eeeeee;
	--color-typography: #020202;
	--color-paragraph: #5c5855;
	--color-accent: #ef6f2e;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	min-height: 100dvh;
}

body {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	background-color: var(--color-background);
	color: var(--color-typography);
	line-height: 1.5;
	font-family:
		"Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
		Meiryo, sans-serif;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root {
	isolation: isolate;
}

::selection {
	background-color: var(--color-accent);
	color: var(--color-background);
}

.container {
	display: flex;
	flex-direction: column;
	gap: 48px;
	margin: 0 auto;
	padding: 48px 24px;
	width: 100%;
	max-width: 1024px;
	font-family: "Geist Mono", monospace;
}

.motto {
	font-weight: 700;
	font-size: 70px;
	line-height: 1.25;
	font-family: "Geist", sans-serif;
}

.avatar {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	user-select: none;
}

.profile {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.75;
	color: var(--color-paragraph);
}

.contact {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.social {
	display: flex;
	gap: 12px;
	align-items: center;
}

.dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--color-accent);
}

.link {
	color: var(--color-paragraph);
	line-height: 0;
}

.inception {
	color: var(--color-background);
}
