*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	background-color: #212121;
	color: #fafafa;
	line-height: 1.5;
	font-family: -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif,
		"Segoe UI Emoji";
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root {
	isolation: isolate;
}

::selection {
	background-color: #607d8b;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 48px;
	margin: 0 auto;
	padding: 48px 24px;
	width: 100%;
	max-width: 1024px;
	font-family: "Roboto Mono", monospace;
}

.motto {
	font-weight: 700;
	font-size: 70px;
	line-height: 1.25;
}

.profile {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.75;
}

.contact {
	display: flex;
	align-items: center;
	gap: 72px;
}

.avatar {
	border-radius: 50%;
	width: 52px;
	height: 52px;
}

.social {
	display: flex;
	align-items: center;
	gap: 24px;
}

.link {
	color: #fafafa;
	line-height: 0;
}
