@font-face {
  font-weight: 100;
  font-family: 'Original Yu Gothic';
  src: local('Yu Gothic Medium');
}

@font-face {
  font-weight: 200;
  font-family: 'Original Yu Gothic';
  src: local('Yu Gothic Medium');
}

@font-face {
  font-weight: 300;
  font-family: 'Original Yu Gothic';
  src: local('Yu Gothic Medium');
}

@font-face {
  font-weight: 400;
  font-family: 'Original Yu Gothic';
  src: local('Yu Gothic Medium');
}

@font-face {
  font-weight: bold;
  font-family: 'Original Yu Gothic';
  src: local('Yu Gothic Bold');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Hiragino Sans', 'Noto Sans CJK JP',
    'Original Yu Gothic', 'Yu Gothic', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Sans Emoji';
  line-height: 1;
  background-color: #000000;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

li {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 688px;
  margin: 0 auto;
  padding: 0 24px 144px;
}

.title {
  padding: 144px 0 48px;
  font-size: 64px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
}

.totem {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 24px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.totem > *:not(:last-child) {
  margin-right: 16px;
}

.paragraph {
  margin-bottom: 24px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

.list-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.list-row > li:not(:last-child) {
  margin-right: 8px;
}

.list-row__item {
  display: flex;
  align-items: center;
  height: 27px;
  margin-bottom: 8px;
  padding: 0 8px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ffffff;
}

.list-row__item--zero-padding {
  display: flex;
  align-items: center;
  height: 27px;
  margin-bottom: 8px;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ffffff;
}

.list-column {
  margin-bottom: 24px;
  padding-left: 16px;
}

.list-column__item {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  list-style: disc;
}

.link-badge {
  all: unset;
  display: flex;
  cursor: pointer;
}

.icon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 27px;
  background-color: #ffffff;
}

.icon-label {
  display: flex;
  align-items: center;
  padding: 0 8px;
}
