name: cleanup-deployments

on:
  workflow_dispatch:
  schedule:
    - cron: "0 21 1 * *" # YYYYMM02T06:00+09:00[Asia/Tokyo] (毎月1日 UTC 21:00)

jobs:
  cleanup:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - run: bash ./scripts/delete-workers-deployment.sh
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_WORKER_ID: ${{ secrets.CLOUDFLARE_WORKER_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
